<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile Setup</title>
</head>

<body class="recruiter-profile-page">
<div class="profile-shell">
    <form th:action="@{/recruiter-profile/addNew}" th:object="${profile}" method="post" enctype="multipart/form-data"
          class="profile-card liquid-glass-card">
        <div class="profile-brand">
            <img class="profile-logo" th:src="@{/assets/logo.png}" src="/assets/logo.png" alt="NextHire"/>
        </div>

        <h1 class="profile-title">Recruiter</h1>
        <h2 class="profile-subtitle">Set up your Profile</h2>

        <div class="profile-block">
            <div class="profile-block-title">Name</div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input placeholder="First Name" id="firstName" th:field="*{firstName}" name="firstName" type="text"
                           class="form-control"/>
                </div>
                <div class="col-md-6 form-group">
                    <input placeholder="Last Name" id="lastName" name="lastName" th:field="*{lastName}" type="text"
                           class="form-control"/>
                </div>
            </div>
        </div>

        <div class="profile-block">
            <div class="profile-block-title">Location</div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <input placeholder="City" name="city" th:field="*{city}" type="text" class="form-control"/>
                </div>
                <div class="col-md-4 form-group">
                    <input placeholder="State" name="state" type="text" th:field="*{state}" class="form-control"/>
                </div>
                <div class="col-md-4 form-group">
                    <input placeholder="Country" name="country" th:field="*{country}" type="text" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="profile-block">
            <div class="profile-block-title">Company</div>
            <div class="row">
                <div class="col form-group">
                    <input placeholder="Company" id="company" name="company" th:field="*{company}" type="text"
                           class="form-control"/>
                </div>
            </div>
        </div>

        <div class="profile-block">
            <div class="profile-block-title">Profile Photo</div>
            <div class="row">
                <div class="col form-group">
                    <input type="file" name="image" class="form-control" accept="image/png, image/jpeg"/>
                    <input type="text" name="profilePhoto" th:field="*{profilePhoto}" class="form-control" hidden/>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <button type="submit" id="submit2" name="submit" class="btn btn-primary base_button px-4 py-2">Save
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</html>
